<html>
<title>ГФЗ учёт</title>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div id="pl1">

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="my-file" accept='.csv'>
            <input type="submit" value="Отправить">
        </form>

    </div>
   
    <div id="pl2">
        <p><a href="./static/share/template.db">Скачать текущую базу</a></p>
        {{range .Table}}
        <b>{{index . 0}}</b> | {{index . 1}}</br>
        {{end}}
        <div class="fix3">
            <h2>Формат данных</h2>
            <img src="./static/img/format.png" />
            </br>
            <p>В <b>CSV</b>-формате:</p>
            993019801|Банка Букет||0|0</br>
            993023601|Банка рельефная||0|0</br>
            993021701|Банка Цветок ||0|0</br>
            993126901|Блинница Хозяюшка||0|0</br>
            993034801|Блюдо Императорское||0|0</br>
            993057301|Блюдо овальное н.т||0|0</br>
        </div>
        <div class="fix">
            <img src="./static/img/gopher.gif" onclick="hi()" />
        </div>
        <div class="fix-s1" id="speech" hidden="true">
            <p class="bubble thought">НE ТЫКАЙ!</p>
        </div>


    </div>

    <script>
        function hi() {
            document.getElementById("speech").hidden = false;
            setTimeout(function () { hidespeech(); }, 3000);
        }

        function hidespeech() {
            document.getElementById("speech").hidden = true;

        }
    </script>





</body>

</html>
